<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Image Grid</title>
</head>

<body>
    <div>
        <h3>Recently Collected Images</h3>
        <img src="{{ img_url }}" alt="image_grid">
    </div>
</body>

<script>

</script>

<style>
    body {
        background-color: cornsilk;
        display: flex;
        min-height: 100%;
        min-width: 100%;
        justify-content: center;
        align-items: center;
    }

    img {
        max-width: 100%;
        overflow-y: scroll;
    }
</style>

</html>